body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right,#FFF7EA 30%,#FFFCF5 50%);
    padding: 10px 20px;
}

nav .logo img {
    max-height: 50px;
    max-width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: wheat;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

nav .login a {
    color: wheat;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

nav .login a:hover {
    background-color: #555;
}

/* container1 */

.container {
    background-image: url('../Fee-eval-1-G24-Real-Estate-/images/bg/bg-rent.510cd476.jpg');
    background-size: cover;
    background-position: center;
    display: table;
    width: 100%;
    height: calc(100vh - 50px); /* Adjust based on navbar height */
}

.content {
    display: table-cell;
    width: 60%;
    color: black;
    padding-top: 90px;
    font-size: 30px;
    padding-left: 10px;
    
   
}

.side-image {
    display: table-cell;
    vertical-align: middle;
    width: 40%;
    text-align: right;
    padding: 50px;
}

.side-image img {
    max-width: 550px;
    height: 100%;
}

/* container2 */

.branding{
    padding-left: 50px;
    padding-top: 80px;
}

.brand_logo{
    padding-left: 30px;
}

.featured_prop{
    text-align: center;
    font-size: 25px;
}

.property_options ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: center;
}
  
.property_options ul li {
    width: auto;
    height: auto;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.card {
  width: 330px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 10px;

}

.card-title {
  font-size: 1.2em;
  margin: 0 0 10px;
  color: #333;
}

.card-text {
    font-size: 14px;
    line-height: 1.5;
}

.card-address {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.card-price {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    color: orangered;
}

.card-details {
    display: block;
    font-size: 12.5px;
    color: #555;
}


.card-button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 0.9em;
  color: #fff;
  background-color: #007bff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-left: 37%;
}

.card-button:hover {
  background-color: #0056b3;
}

.featured_prop_cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 3fr));
    row-gap: 50px;
    column-gap: 1px; 
    padding: 15px;
    margin-left: 55px;
}

.fa-map{
    font-size: 15px;
    color: gray;
}

/* container3 */
.background-container3 {
    background-image: url('../Fee-eval-1-G24-Real-Estate-/images/bg/bg-icon.673be813.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 150px;
}

.section-heading3 {
    font-size: 50px;
    margin-bottom: 40px; 
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


.cards-wrapper3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    max-width: 1200px; 
    width: 100%;
    padding-top: 100px;
    height: 500px;
}

.card3 {
    background-color: rgba(255, 255, 255, 0.9); 
    color: black;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}


.card-header3 {
    position: absolute;
    top: 10px;
    /* left: 10px; */
}

.logo3 {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.5s ease;
}

/* spin animation */

@keyframes spin-axis {
    from {
        transform: rotateY(0deg); 
    }
    to {
        transform: rotateY(360deg); 
    }
}

.card3:hover .logo3 {
    animation: spin-axis 2s linear infinite; 
}

.card-header3 p{
    font-size: 20px;
    font-weight: bold;
}
.card-content3 {
    margin-top: 60px; 
    padding: 20px 0;
}


.card-text3 {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.card-footer3 {
    position: absolute;
}

.card-button3 {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    
}

/* container4 */

.container4{
    margin-top: 120px;
}

.content4{
    text-align: center;
}

.content4 h2{
    font-size: 45px;
    font-weight: bold;
}

.content4 p{
    color: gray;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    padding: 20px;
}

.image_link{
    display: inline-block;
    text-decoration: none;
}

.image-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
}

.centered-image {
    width: 100%;
    height: auto;
    max-width: 100%; 
    display: block;
}

.image-overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2); 
    transition: bottom 0.5s ease; 
}

.image-wrapper:hover .image-overlay {
    bottom: 0; 
}

.image-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
}
/* conatiner5 */

.container5{
    margin-top: 150px;
}

.heading5{
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}
.slider5-main {
    width: 600px; 
    overflow: hidden;
    position: relative;
    margin: 0;
  }
  
.card-container_slider5 {
    display: flex;
    width: calc(600px * 6); 
    animation: slide 50s linear infinite; 
    gap: 20px;
}
  
@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1900px); } 
}

/* conatiner6 */

.container6 {
    position: relative;
    height: 100vh;
    background: url('../Fee-eval-1-G24-Real-Estate-/images/bg/bg-testimonial2.b3e518f3.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content6 {
    text-align: center;
}

.heading6 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text6 {
    font-size: 15px;
    color: gray;
    margin-bottom: 30px;
}

.carousel6 {
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
    position: relative;
    padding-top: 30px;
}

.carousel-wrapper6 {
    display: flex;
    width: calc(400px * 4);
    animation: swipe-stop6 8s ease-in-out infinite; 
}

.carousel-item6 {
    width: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.circle-image6 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 10px;
    background-size: contain;

}

.section-text6 {
    font-size: 10px;
}

@keyframes swipe-stop6 {
    0% { transform: translateX(0); }
    20% { transform: translateX(-400px); } 
    30% { transform: translateX(-400px); } 
    50% { transform: translateX(-800px); } 
    60% { transform: translateX(-800px); } 
    80% { transform: translateX(-1200px); }
    90% { transform: translateX(-1200px); }
    100% { transform: translateX(0); } 
}

  





