.footer {
    background-color: #333;
    color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
    margin-top: 100px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-section {
    display: flex;
    align-items: flex-start;
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
}

.footer-img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.footer-content {
    text-align: left;
    flex-grow: 1;
}

.footer-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.footer-content p {
    margin-bottom: 10px;
    color: #ccc;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 10px;
}

.contact-button:hover {
    background-color: #007bff;
    color: #fff;
}

.footer-bottom {
    border-top: 1px solid #555;
    padding-top: 20px;
}

.footer-contact p {
    margin: 5px 0;
}

.footer-social a {
    color: #bbb;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #007bff;
}
